.layout {
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #333;
  /* border: 2px solid #f00; */
}

.brand {
  font-size: 3vh;
  padding: 5px;
}

.content {
  background-color: #55555594; /* Fondo claro para el contenido */
  flex-grow: 1;
  border-radius: 10px;
  /* height: auto;
    margin-bottom: 200px; */
  /* border: 2px solid #f00; */
}

/* sidebar */

.sidebar {
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.452);
  background-color: #333;
  color: #f8f9fa;
  text-align: left;
  padding-top: 20px;
  padding-left: 20px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #6c757d;
  z-index: 100;
  top: 50px;
  /* width: 220px;
    height: auto; */
}

.sidebar::-webkit-scrollbar {
  width: 8px; /* Ancho del scrollbar en navegadores Webkit */
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #6c757d; /* Color del scroll */
  border-radius: 4px; /* Esquinas redondeadas */
}

.sidebar::-webkit-scrollbar-track {
  background-color: #e9ecef; /* Fondo del track del scrollbar */
}

/* NAVBAR */
.nav_link {
  border-radius: 8px;
  transition: all ease 1s;
  margin-left: 10px;
  text-align: start;
}

.nav_link:hover {
  background-color: rgba(255, 255, 255, 0.651);
  transition: 1s;
  cursor: pointer;
}

/* SIDEBAR */

.side_title {
  font-size: 3vh;
  text-align: start;
  color: white;
  /* background-color: #000; */
  font-weight: bold;
  padding-left: 10px;
}

.side_subtitle {
  font-size: 2vh;
  text-align: start;
  color: white;
  padding-left: 20px;
}

.side_options {
  font-size: 2vh;
  text-align: start;
  color: white;
  padding: 5px 0px 5px 20px;
  margin-top: 10px;
  border-radius: 8px;
  transition: all ease 0.7s;
}

.side_options:hover {
  background-color: rgba(255, 255, 255, 0.651);
  transition: 0.7s;
  cursor: pointer;
}

/* FOOTER */

footer {
  background-color: #343a40; /* Fondo oscuro para el pie de página */
  color: white;
  padding: 10px;
}
