  /* .background{
    background-color: #333;
  } */
  .background {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-45deg, #262626, #333, #454545);
    background-size: 300% 300%;
    animation: wave 6s ease infinite;
  }
  
  @keyframes wave {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .card {
    position: relative;
    background-color: rgba(255, 255, 255, 0.751);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  

  /* card form */

  /* .card{
    background-color: #222;
    color: #fcedec;
  } */

  .label{
    font-size: 1.8vh;
  }